_not_on_git
.vscode
bin/**
pkg/**
run.sh

src/s3upload/s3upload
src/s3upload/src
src/s3upload/bin
src/s3upload/pkg

src/s3bucket/s3bucket
src/s3bucket/src
src/s3bucket/bin
src/s3bucket/pkg

src/github.com/**
src/golang.org/**
src/gopkg.in/**
src/sourcegraph.com/**

src/bin
src/pkg
src/src